.texto {
    display: flex;
    flex-direction: column;
}

.texto h2  {
    font-size: 3rem;
    margin-left: 3rem;
    text-align: center;
    margin-top: 8rem;
    letter-spacing: 600;
    padding-bottom: 8rem;

}

.texto p {
    font-size: 1.2rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.texto button {
    background-color:var(--secondary-color);
    color: var(--primary-color);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    width: 20rem;
    height: auto;
    margin-left: 5.5rem;
    margin-top: 3rem;
}

.texto button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

.texto button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.texto span {
    color: var(--secondary-color);
}


.social img {
    width: 25px;
    height: 25px;
    margin-left: 0.8rem;
    margin-top: 3rem;
}

.social {
    display: flex;
    margin-left: 8rem;
    margin-top: -4.6rem;
}
.gerente {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gerenteborda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-right: -50rem;
    margin-top: -20rem;
    background-image: url('../../../assets/img/bordagerente.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.gerenteborda img {
    width: 73%; 
    height: 70%;
    border-radius: 50%;  
    object-fit: cover;
}

.textoGerente {
    display: flex;
    flex-direction: column;
    margin-top: -15rem;
    font-family: var(--secondary-color);
}
.textoGerente h2 {
    margin-top: 13rem;
    margin-left: 48rem;
    font-size: 3rem;
}

.textoGerente h3 {
    margin-left: 58rem;
    margin-top: -8rem;
    font-size: 2.2rem;
}