
<section id="contact" class="bg-inicio sessao">
    <div>
        <div class="texto">
            <h2>Fale conosco</h2>
            <p>Telefone: <span>(82) 9 8919-9799 </span></p>
            <p>Email: <span>lifefitness&#64;gmail.com</span></p>
            <p>Social:</p>
                <div class="social">
                <img src="../../../assets/img/instagramicon.webp" alt="">
                <img src="../../../assets/img/facebookicon.webp" alt="">
                <img src="../../../assets/img/twitterimg.png" alt="">
             </div>
            
             <div class="gerente">
                <div class="gerenteborda">
                  <img src="../../../assets/img/Gerenteimg.jpg" alt="Imagem de borda">
                </div>
              </div>
              
              <div class="textoGerente">
                <h2>Gerente</h2>
                <h3>Jonas Bernadino</h3>
              </div>
              

            
        </div>
    </div>
</section>