<section id="sobre" class=" sessao">
  <div>
    <div class="texto">
        
      <h1>Sobre a Life Fitness</h1>

      <p>Na Life Fitness, acreditamos que a prática de exercício físico é essencial para alcançar o equilíbrio entre
        corpo e mente. Fundada com o objetivo de promover saúde e bem-estar, a nossa academia oferece um ambiente
        acolhedor e moderno, onde cada membro pode encontrar o apoio e a motivação necessários para atingir os seus
        objetivos.</p>

    </div>
  </div>
</section>
