<section class="services" id="Recursos">
    <h2 class="heading">Principais <span>Recursos</span></h2>
    <div class="services-container">
        <div class="services-box">
            <div class="img1">
                
            </div>

                <p>Equipamentos ergonômicos de última geração, ambiente ideal para tornar sua vida mais saudável.
            </p>
            
        </div>

        <div class="services-box">
            <div class="img2"></div>
            <p>Planos de treino personalizados, aulas coletivas e foco no bem-estar. 
            </p>
            
        </div>

        <div class="services-box">
            <div class="img1 img3"></div>
            <p>Planos com avaliações físicas regulares e programas de nutrição para maximizar os resultados.
            </p>
            
        </div>
    </div>
</section>