<section class="services" id="recursos">
    <h2 class="heading">Meus <span>Serviços</span></h2>
    <div class="services-container">
        <div class="services-box img1">
            <img src="" alt="">
            <p>Equipamentos ergonômicos de última geração, ambiente ideal para tornar sua vida mais saudável.
            </p>
        </div>

        <div class="services-box img2">
            <img src="" alt="">
            <p>Planos de treino personalizados, aulas coletivas e foco no bem-estar.
            </p>
        </div>

        <div class="services-box img3">
            <img src="" alt="">
            <p>Planos com avaliações físicas regulares e programas de nutrição para maximizar os resultados.</p>
        </div>
    </div>
</section>