
<section class="services sessao" id="avaliacoes">
    <h2 class="heading">Avaliações</h2>
    <div class="services-container">
        <div class="services-box">
            <div class="avaliador">
                <img src="../../../assets/img/Avaliador1.png" alt="" class="img1">
            </div>
            <div class="stars">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
              </div>
              
            <p>Ótima infraestrutura, mas cheia em horários de pico.
            </p>
            <h3>Anthonny Caio</h3>
            
        </div>

        <div class="services-box">
            
            <div class="avaliador">
                <img src="../../../assets/img/Avaliador2.png" alt="" class="img1">
            </div>
            <div class="stars">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
              </div>
            <p>Bom ambiente, mas pode melhorar a infraestrutura. 
            </p>
            <h3>Pablo Rhian</h3>
            
        </div>

        <div class="services-box">
            <div class="avaliador">
                <img src="../../../assets/img/Avaliador3.png" alt="" class="img1">
            </div>
            <div class="stars">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
              </div>
            <p>Amei conhecer a nova rede de academias da cidade.
            </p>

            <h3>Celso Borges</h3>
            
        </div>
    </div>
</section>